{% extends 'flights/layout.html' %}

{% block body %}

    <h1>flight : {{flight.id}}</h1>
    <ul>
        <li>Origin : {{flight.origin}}</li>
        <li>Destination : {{flight.destination}}</li>
        <li>Duration : {{flight.duration}}</li>
    </ul>
    <a href="{% url 'index' %}"> All flights </a>

    <h3>passengers :</h3>
    {% for passenger in passengers %}
        <li>{{passenger}}</li>
    {% empty %}    
        <li>No passengers Found</li>
    {% endfor %}


    <form action="{% url 'book' flight.id%}" method="post">
        {% csrf_token %}
        <select name="passenger" id="#">
            {% for passenger in non_passengers %}
                <option value="{{ passenger.id }}">{{ passenger }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>




{% endblock %}